{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
<h3>Hakkımızda</h3>
{% if "logged_in" in session %}
<p><h5>Merhaba, {{session["username"]}}</h5>Öncelikle üyemiz olduğun için teşekkür ediyoruz.Bu internet sitesi ile istediğiniz kadar fotoğraf paylaşabilirsiniz. Siz de en az benim kadar biliyorsunuz ki
dünya üzerinde çok fazla ün yapmış internet siteleri  sizin paylaştığınız verileri çalarak devasa şirketleri bu veriler
ile beslemiştir.WriCoo ailesi olarak bu olayın tamamen önüne geçerek tamamen özgün, güvenli bir internet sitesi olarak sizin
hizmetinize sunuyoruz.İyi eğlenceler...</p>
{% else %}
<p>Bu internet sitesi ile istediğiniz kadar makale paylaşabilirsiniz. Siz de en az benim kadar biliyorsunuz ki
dünya üzerinde çok fazla ün yapmış internet siteleri  sizin paylaştığınız verileri çalarak devasa şirketleri bu veriler
ile beslemiştir.WriCoo ailesi olarak bu olayın tamamen önüne geçerek tamamen özgün, güvenli bir internet sitesi olarak sizin
hizmetinize sunuyoruz.İyi eğlenceler...</p>
{% endif %}

</div>
{% endblock body %}